body {
  background-color: #000;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #9dc850;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hero-section {
  background-color: #000;
  background-image: url('../images/map-tiles.jpg');
  background-position: 0px 0px;
  background-size: auto 750px;
  background-repeat: repeat-x;
}

.navbar {
  padding-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .8) 15%, transparent);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .8) 15%, transparent);
  color: #fff;
}

.navlink {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navlink.w--current {
  color: #9dc850;
}

.hero-container {
  position: relative;
  display: block;
  margin-top: -305px;
  margin-right: auto;
  margin-left: auto;
  padding: 230px 15px 100px;
  background-image: -webkit-linear-gradient(90deg, #000 79%, transparent);
  background-image: linear-gradient(0deg, #000 79%, transparent);
  text-align: center;
}

.hero-container.inner-page {
  margin-top: 0px;
  padding-top: 130px;
  background-image: -webkit-linear-gradient(90deg, #000 50%, transparent);
  background-image: linear-gradient(0deg, #000 50%, transparent);
}

.smartphone {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hero-heading {
  display: block;
  max-width: 700px;
  margin: 0px auto 25px;
  color: #fff;
  font-size: 52px;
  line-height: 63px;
  font-weight: 300;
}

.hero-subheading {
  display: block;
  max-width: 850px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  opacity: 0.8;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.appstore-logo {
  margin-right: 20px;
}

.appstore-link {
  display: in-line block;
  margin-right: 20px;
}

.appstore-link.last {
  margin-right: 0px;
}

.founder-logo {
  width: 55%;
}

.founder-logo.msf {
  height: 60px;
  margin-top: -15px;
}

.founder-logo.wider {
  width: 100%;
  margin-top: -10px;
}

.founder-row {
  margin-top: 60px;
}

.phone-container {
  position: relative;
  display: block;
  width: 351px;
  height: 593px;
  margin-top: -25px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/phone.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.mapswipe-logo {
  margin-top: 5px;
}

.navbar-container {
  max-width: 1200px;
}

.phone-tile {
  position: absolute;
  left: 18%;
  top: 14.5%;
  width: 114px;
  height: 114px;
  border-style: solid solid solid none;
  border-width: 1px;
  border-color: #fff;
  opacity: 0.5;
}

.phone-tile._2 {
  left: 50.5%;
  border-left-style: none;
}

.phone-tile._3 {
  top: 33.5%;
  border-top-style: none;
}

.phone-tile._4 {
  left: 50.5%;
  top: 33.5%;
  border-top-style: none;
}

.phone-tile._5 {
  top: 52.7%;
  border-top-style: none;
}

.phone-tile._6 {
  left: 50.5%;
  top: 52.7%;
  border-top-style: none;
}

.phone-tile._7 {
  top: 72%;
  border-top-style: none;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: inset 0 10px 35px 0 hsla(0, 0%, 100%, .14);
  color: hsla(0, 0%, 100%, .5);
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.social-link {
  margin-right: 15px;
  opacity: 0.6;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-link:hover {
  opacity: 1;
}

.members-row {
  margin-top: 50px;
}

.member-logo {
  width: 40%;
}

.member-logo.cart-ong {
  width: 35%;
  border: 5px solid #fff;
}

.member-logo.clinton {
  width: 30%;
}

.member-logo.giscience {
  width: 20%;
}

.member-logo.netherlands {
  width: 50%;
  margin-top: 5px;
}

.member-logo.bing {
  width: 70%;
  margin-top: 5px;
}

.section {
  padding: 80px 10px;
}

.section:hover {
  text-decoration: underline;
}

.container {
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.faq-container {
  margin-bottom: 150px;
  padding-right: 20px;
  padding-left: 20px;
}

.faq-text {
  opacity: 0.9;
  color: #fff;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.faq-title {
  margin-bottom: 20px;
  color: #5bc1ee;
  font-size: 24px;
  line-height: 34px;
}

.teammate-container {
  margin-bottom: 120px;
  text-align: center;
}

.teammate-container.up {
  position: relative;
  top: -50px;
}

.team-name {
  margin-bottom: 10px;
  color: #fff;
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
}

.team-role {
  margin-bottom: 15px;
  opacity: 1;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.team-photo {
  margin-bottom: 25px;
}

.socialmedia-link {
  margin-right: 20px;
  opacity: 0.6;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}

.socialmedia-link:hover {
  opacity: 1;
}

.socialmedia-link.last-link {
  margin-right: 0px;
}

@media (max-width: 991px) {
  .hero-section {
    background-size: auto 600px;
  }
  .hero-heading {
    font-size: 46px;
    line-height: 56px;
  }
  .hero-subheading {
    font-size: 16px;
  }
  .founder-logo {
    width: 80%;
  }
  .founder-row {
    margin-top: 40px;
  }
  .member-logo {
    width: 60%;
  }
  .member-logo.cart-ong {
    width: 45%;
  }
  .member-logo.giscience {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .hero-container {
    padding-top: 190px;
    background-image: -webkit-linear-gradient(90deg, #000 88%, transparent);
    background-image: linear-gradient(0deg, #000 88%, transparent);
  }
  .founder-logo {
    width: 50%;
    margin-bottom: 50px;
  }
  .founder-logo.wider {
    width: 50%;
  }
  .footer-column {
    margin-bottom: 20px;
  }
  .footer-column.last-footer {
    margin-bottom: 0px;
  }
  .member-logo {
    margin-bottom: 50px;
  }
  .teammate-container.up {
    position: static;
  }
}

@media (max-width: 479px) {
  .hero-section {
    background-position: -5px 0px;
  }
  .hero-heading {
    font-size: 46px;
    line-height: 50px;
  }
  .hero-subheading {
    line-height: 23px;
  }
  .appstore-link {
    width: 120px;
    height: auto;
  }
  .nav-menu {
    background-color: #000;
  }
  .menu-btn.w--open {
    background-color: #000;
  }
}

