@import 'global/variables',
'global/reset',
'global/base';

@import 'pages/home',
'pages/about',
'pages/data',
'pages/involved';

@import 'components/footer',
'components/sections',
'components/footer',
'components/hero',
'components/hero',
'components/header';

