@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html {
  font-size: calc(1em * .625);
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  font-size: 100%;
  letter-spacing: 0;
  text-align: left; }

body,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
img,
label,
input,
select,
blockquote,
fieldset,
legend,
form {
  margin: 0;
  padding: 0; }

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
video,
picture {
  display: block; }

iframe {
  border: 0 solid transparent; }

img {
  border: 0;
  display: block;
  max-width: 100%; }

a img {
  border: 0; }

body {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  line-height: 24px; }
  body.menu-active {
    max-height: 100vh;
    overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px; }

h1 {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 1px;
  margin-top: 20px; }

h2 {
  font-size: 36px;
  line-height: 44px;
  margin-top: 20px; }

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px; }

h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 5px; }

h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px; }

h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px; }

p {
  margin-top: 0;
  margin-bottom: 10px; }
  p:last-child {
    margin-bottom: 0; }

a {
  font-weight: bold;
  font-family: 'Hind', sans-serif;
  color: #219653; }
  a:hover {
    text-decoration: none;
    color: #146738; }
  a:visited {
    color: #219653; }
  a.link {
    display: inline-block;
    color: #219653;
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px;
    margin-right: 20px; }
    a.link svg {
      vertical-align: middle;
      width: 15px;
      fill: #219653;
      stroke: #219653; }
    a.link.link-email svg {
      stroke-width: 2px; }
    a.link.link-external svg {
      stroke: transparent; }
    a.link:hover {
      color: #146738; }
      a.link:hover svg {
        fill: #146738;
        stroke: #146738; }

blockquote {
  margin: 0 0 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px; }

figure {
  margin: 0;
  margin-bottom: 10px; }

figcaption {
  margin-top: 5px;
  text-align: center; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px; }

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block; }

table td:first-child {
  font-weight: bold;
  padding-right: 20px;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E0E0E0;
  margin: 60px 0 20px; }
  @media (max-width: 479px) {
    hr {
      margin: 30px 0 20px; } }

.hidden {
  display: none; }

.wrapper {
  max-width: 1084px;
  margin: 0 auto; }
  .wrapper .container {
    margin: 0 40px; }

.one-half {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-bottom: 40px; }
  .one-half:last-child {
    margin-left: 40px; }
    @media (max-width: 680px) {
      .one-half:last-child {
        margin-left: 0; } }
  .one-half h3 {
    margin-top: 0; }

.one-third {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
  .one-third img {
    max-width: 80%; }

.two-thirds {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.6667%;
          flex: 1 1 66.6667%; }

.appstore-container {
  display: block;
  max-width: 700px;
  margin-top: 40px; }
  .appstore-container a {
    display: inline-block; }
    .appstore-container a:first-child {
      margin-bottom: 20px;
      margin-right: 20px; }
    @media (max-width: 680px) {
      .appstore-container a {
        display: table; }
        .appstore-container a:last-child {
          margin-bottom: 0; } }

.navlink {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0 20px;
  text-decoration: none; }
  .navlink.active {
    font-weight: 700; }
  .navlink:last-child {
    padding-right: 0; }
  .navlink:hover {
    opacity: 0.8; }
  .navlink:visited {
    color: #ffffff; }

@media (max-width: 479px) {
  h1 {
    font-size: 40px;
    line-height: 46px; }
  h2 {
    font-size: 30px;
    line-height: 36px; }
  .wrapper .container {
    margin: 0 20px; }
  .one-half {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; }
  .one-third {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; }
  .two-thirds {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; } }

@font-face {
  font-family: 'MetaHeadlineWeb-Cond';
  font-weight: 700;
  src: local("☺"), url("/assets/fonts/MetaHeadlineWeb-CondBold.woff2") format("woff2"), url("/assets/fonts/MetaHeadlineWeb-CondBold.woff") format("woff"), url("/assets/fonts/MetaHeadlineWeb-CondBold.ttf") format("truetype"); }

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  src: local("☺"), url("/assets/fonts/3501E9_1_0.woff2") format("woff2"), url("/assets/fonts/3501E9_1_0.woff") format("woff"), url("/assets/fonts/3501E9_1_0") format("truetype"); }

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 700;
  src: local("☺"), url("/assets/fonts/34FB83_0_0.woff2") format("woff2"), url("/assets/fonts/34FB83_0_0.woff") format("woff"), url("/assets/fonts/34FB83_0_0") format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: local("☺"), url("/assets/fonts/montserrat-light-webfont.woff2") format("woff2"), url("/assets/fonts/montserrat-light-webfont.woff") format("woff"), url("/assets/fonts/montserrat-light-webfont") format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: local("☺"), url("/assets/fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("/assets/fonts/montserrat-semibold-webfont.woff") format("woff"), url("/assets/fonts/montserrat-semibold-webfont") format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: local("☺"), url("/assets/fonts/montserrat-medium-webfont.woff2") format("woff2"), url("/assets/fonts/montserrat-medium-webfont.woff") format("woff"), url("/assets/fonts/montserrat-medium-webfont") format("truetype"); }

.page-home .hero-container {
  background-image: url("/assets/img/hero/mapswipe_grid.png"); }

.page-about .hero-container {
  background-image: url("/assets/img/hero/field_mapping.jpg"); }

.page-about .steps {
  background-image: -webkit-gradient(linear, left top, right top, from(#E6EFC6), to(#F7E8AC));
  background-image: linear-gradient(to right, #E6EFC6, #F7E8AC); }
  .page-about .steps .steps-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden; }
    @media (max-width: 767px) {
      .page-about .steps .steps-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .page-about .steps .step {
    position: relative;
    padding: 50px 60px; }
    @media (max-width: 767px) {
      .page-about .steps .step {
        padding: 20px 40px; } }
    @media (max-width: 479px) {
      .page-about .steps .step {
        padding: 20px; } }
    .page-about .steps .step:first-child {
      padding-left: 20px; }
      @media (max-width: 767px) {
        .page-about .steps .step:first-child {
          padding-left: 40px; } }
      @media (max-width: 479px) {
        .page-about .steps .step:first-child {
          padding-left: 20px; } }
    .page-about .steps .step:last-child {
      padding-right: 20px; }
      @media (max-width: 767px) {
        .page-about .steps .step:last-child {
          padding-right: 40px; } }
      @media (max-width: 479px) {
        .page-about .steps .step:last-child {
          padding-right: 20px; } }
    .page-about .steps .step .step-content {
      position: relative;
      z-index: 20; }
      .page-about .steps .step .step-content img {
        display: block;
        margin: 40px auto 0; }
    .page-about .steps .step.step-1 {
      background-color: #E6EFC6; }
    .page-about .steps .step.step-2 {
      background-color: #C7E7E0;
      padding: 50px 20px;
      z-index: 10; }
      .page-about .steps .step.step-2::before {
        display: block;
        content: '';
        position: absolute;
        background: #C7E7E0;
        height: 150%;
        width: 114%;
        right: -7%;
        top: -25%;
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
        z-index: 0; }
      @media (max-width: 767px) {
        .page-about .steps .step.step-2 {
          padding: 20px 40px; }
          .page-about .steps .step.step-2::before {
            display: none; } }
      @media (max-width: 479px) {
        .page-about .steps .step.step-2 {
          padding: 20px; }
          .page-about .steps .step.step-2::before {
            display: none; } }
    .page-about .steps .step.step-3 {
      background-color: #F7E8AC; }

.page-about .how-works .section-flex {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  @media screen and (max-width: 679px) {
    .page-about .how-works .section-flex {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.page-about .how-works .one-third {
  margin-right: 20px;
  margin-bottom: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start; }
  @media screen and (max-width: 679px) {
    .page-about .how-works .one-third {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%; } }
  .page-about .how-works .one-third:last-child {
    margin-right: 0; }
  .page-about .how-works .one-third img {
    max-width: 100%; }

.page-about .partners-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .page-about .partners-container .partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .page-about .partners-container .partners img {
      height: 50px;
      width: auto;
      margin: 20px; }

.page-data .hero-container {
  background-image: url("/assets/img/hero/msf_mapping.jpg"); }

.page-data .one-half .link {
  margin-top: 10px; }

.page-involved .hero-container {
  background-image: url("/assets/img/hero/mapswipe_mapathon.jpg"); }

.prefooter .container,
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.prefooter {
  background-color: #0D1949;
  color: #ffffff; }
  .prefooter .container .appstore-container {
    text-align: center;
    margin-top: 20px; }
    .prefooter .container .appstore-container .appstore-link {
      display: inline-block;
      margin-right: 10px; }
      .prefooter .container .appstore-container .appstore-link.last {
        margin-right: 0; }
  .prefooter .container .social-link {
    display: inline-block;
    margin-right: 15px;
    opacity: 1;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    vertical-align: top; }
    .prefooter .container .social-link:last-child {
      margin-right: 0; }
    .prefooter .container .social-link:hover {
      opacity: 0.6;
      text-decoration: none; }
    .prefooter .container .social-link svg, .prefooter .container .social-link img {
      width: 20px;
      height: 20px;
      vertical-align: top; }

footer {
  background-color: #060e2f;
  color: #ffffff;
  padding: 10px 0; }
  footer .container a:first-child {
    padding-left: 0; }
  footer .container p {
    margin: 0;
    font-size: 12px; }

@media (max-width: 767px) {
  .prefooter .container,
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .prefooter .container .footer-column,
    footer .container .footer-column {
      margin-bottom: 20px; }
      .prefooter .container .footer-column.last-footer,
      footer .container .footer-column.last-footer {
        margin-bottom: 0; }
  .prefooter {
    padding-bottom: 0; } }

@media (max-width: 479px) {
  .prefooter {
    padding-top: 0; }
    .prefooter .container .appstore-container .appstore-link {
      width: 120px;
      height: auto;
      margin-top: 20px; }
      .prefooter .container .appstore-container .appstore-link.last {
        margin-bottom: 0; } }

.section {
  padding: 75px 40px; }
  @media screen and (max-width: 767px) {
    .section {
      padding: 40px 40px; } }
  @media (max-width: 479px) {
    .section {
      padding: 40px 20px; } }
  .section.section-wide {
    padding: 0; }
    .section.section-wide .section-container {
      max-width: none; }
  .section.section-no-margin {
    padding-bottom: 0; }
    .section.section-no-margin .section-container .rich-text:last-child {
      margin-bottom: 0; }
  .section .section-container {
    max-width: 980px;
    margin: 0 auto; }
    .section .section-container .rich-text {
      max-width: 700px;
      margin-bottom: 40px; }
    @media screen and (max-width: 767px) {
      .section .section-container h2 {
        margin-bottom: 25px; } }
  .section .section-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 679px) {
      .section .section-flex {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .section .section-flex.image-left .two-thirds {
      margin-left: 40px; }
      @media (max-width: 679px) {
        .section .section-flex.image-left .two-thirds {
          margin-left: 0; } }
    @media (max-width: 679px) {
      .section .section-flex.image-left .one-third {
        display: none; } }
    .section .section-flex.image-right .two-thirds {
      margin-right: 40px; }
      @media (max-width: 679px) {
        .section .section-flex.image-right .two-thirds {
          margin-right: 0; } }
    .section .section-flex.image-right .one-third {
      text-align: right; }
      @media (max-width: 679px) {
        .section .section-flex.image-right .one-third {
          display: none; }
          .section .section-flex.image-right .one-third.keep-image {
            display: block;
            -webkit-box-flex: 1;
                -ms-flex: 1 1 100%;
                    flex: 1 1 100%;
            text-align: center; }
            .section .section-flex.image-right .one-third.keep-image img {
              max-width: 180px;
              margin-top: 20px; } }
      .section .section-flex.image-right .one-third img {
        margin: 0 auto; }
  .section h2 {
    margin-top: 0;
    margin-bottom: 30px; }
  .section div.image-container {
    max-width: none;
    margin: 20px auto;
    padding: 0 20px; }
  .section.dark {
    background-color: #000000;
    color: #ffffff; }
  .section.yellow {
    background-color: #FCB535; }
  .section.green {
    background-color: #AABF56; }
    .section.green a {
      color: #0D1949; }
      .section.green a:hover, .section.green a:visited {
        color: rgba(13, 25, 73, 0.9); }
      .section.green a svg {
        fill: #0D1949;
        stroke: #0D1949; }
      .section.green a.link-external svg {
        fill: #0D1949;
        stroke: transparent; }
  .section.blue {
    background-color: #5482B3; }
  .section.light-blue {
    background-color: #EEF2FB; }

.prefooter .container,
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.prefooter {
  background-color: #0D1949;
  color: #ffffff; }
  .prefooter .container .appstore-container {
    text-align: center;
    margin-top: 20px; }
    .prefooter .container .appstore-container .appstore-link {
      display: inline-block;
      margin-right: 10px; }
      .prefooter .container .appstore-container .appstore-link.last {
        margin-right: 0; }
  .prefooter .container .social-link {
    display: inline-block;
    margin-right: 15px;
    opacity: 1;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    vertical-align: top; }
    .prefooter .container .social-link:last-child {
      margin-right: 0; }
    .prefooter .container .social-link:hover {
      opacity: 0.6;
      text-decoration: none; }
    .prefooter .container .social-link svg, .prefooter .container .social-link img {
      width: 20px;
      height: 20px;
      vertical-align: top; }

footer {
  background-color: #060e2f;
  color: #ffffff;
  padding: 10px 0; }
  footer .container a:first-child {
    padding-left: 0; }
  footer .container p {
    margin: 0;
    font-size: 12px; }

@media (max-width: 767px) {
  .prefooter .container,
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .prefooter .container .footer-column,
    footer .container .footer-column {
      margin-bottom: 20px; }
      .prefooter .container .footer-column.last-footer,
      footer .container .footer-column.last-footer {
        margin-bottom: 0; }
  .prefooter {
    padding-bottom: 0; } }

@media (max-width: 479px) {
  .prefooter {
    padding-top: 0; }
    .prefooter .container .appstore-container .appstore-link {
      width: 120px;
      height: auto;
      margin-top: 20px; }
      .prefooter .container .appstore-container .appstore-link.last {
        margin-bottom: 0; } }

.hero-container {
  position: relative;
  background-size: cover;
  background-position: center right;
  min-height: 80vh;
  color: #ffffff;
  padding: 140px 0; }
  .hero-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0.7)), to(transparent));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 30%, transparent 100%);
    z-index: 0; }
  .hero-container .wrapper {
    position: relative;
    max-width: 1084px;
    margin: 0 auto;
    z-index: 100; }
  .hero-container .hero-content {
    max-width: 700px;
    margin: 0 40px; }
    .hero-container .hero-content .hero-heading {
      margin: 0 auto 25px;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 1px; }
    .hero-container .hero-content .hero-subheading {
      margin: 0 auto;
      opacity: 0.8;
      font-size: 18px;
      line-height: 27px;
      font-weight: 300;
      letter-spacing: 0.5px; }

.hero-container-small {
  background-color: #EEF2FB;
  color: #0D1949;
  text-align: center;
  padding: 80px; }
  .hero-container-small h1 {
    margin: 0;
    padding: 0; }

@media (max-width: 767px) {
  .hero-container {
    padding: 100px 0; }
    .hero-container .hero-heading {
      font-size: 34px;
      line-height: 42px; }
    .hero-container .hero-subheading {
      font-size: 16px; } }

@media (max-width: 479px) {
  .hero-container {
    padding: 100px 0; }
    .hero-container:before {
      background: rgba(0, 0, 0, 0.5) 100%; }
    .hero-container .hero-content {
      margin: 0 20px; }
      .hero-container .hero-content .hero-heading {
        font-size: 40px;
        line-height: 46px; }
      .hero-container .hero-content .hero-subheading {
        line-height: 24px; } }

.hero-container {
  position: relative;
  background-size: cover;
  background-position: center right;
  min-height: 80vh;
  color: #ffffff;
  padding: 140px 0; }
  .hero-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0.7)), to(transparent));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 30%, transparent 100%);
    z-index: 0; }
  .hero-container .wrapper {
    position: relative;
    max-width: 1084px;
    margin: 0 auto;
    z-index: 100; }
  .hero-container .hero-content {
    max-width: 700px;
    margin: 0 40px; }
    .hero-container .hero-content .hero-heading {
      margin: 0 auto 25px;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: 1px; }
    .hero-container .hero-content .hero-subheading {
      margin: 0 auto;
      opacity: 0.8;
      font-size: 18px;
      line-height: 27px;
      font-weight: 300;
      letter-spacing: 0.5px; }

.hero-container-small {
  background-color: #EEF2FB;
  color: #0D1949;
  text-align: center;
  padding: 80px; }
  .hero-container-small h1 {
    margin: 0;
    padding: 0; }

@media (max-width: 767px) {
  .hero-container {
    padding: 100px 0; }
    .hero-container .hero-heading {
      font-size: 34px;
      line-height: 42px; }
    .hero-container .hero-subheading {
      font-size: 16px; } }

@media (max-width: 479px) {
  .hero-container {
    padding: 100px 0; }
    .hero-container:before {
      background: rgba(0, 0, 0, 0.5) 100%; }
    .hero-container .hero-content {
      margin: 0 20px; }
      .hero-container .hero-content .hero-heading {
        font-size: 40px;
        line-height: 46px; }
      .hero-container .hero-content .hero-subheading {
        line-height: 24px; } }

header {
  position: fixed;
  width: 100%;
  z-index: 150;
  background-color: #0D1949; }
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 767px) {
      header .container {
        position: relative; }
        header .container.active .nav-menu {
          display: block;
          height: 100vh;
          top: 45px;
          left: -40px;
          width: calc(100% + 80px);
          padding-top: 60px; }
        header .container.active .mobile-menu {
          z-index: 100; }
        header .container.active .burger-menu span {
          background: #ffffff; } }
    header .container .mapswipe-logo {
      max-width: 140px; }
      @media screen and (max-width: 767px) {
        header .container .mapswipe-logo {
          max-width: 120px; } }
    @media screen and (max-width: 767px) {
      header .container .nav-menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #0D1949;
        z-index: 10; } }
    header .container .nav-menu .navlink {
      display: inline-block;
      padding: 20px; }
      @media screen and (max-width: 767px) {
        header .container .nav-menu .navlink {
          display: block;
          width: 100%;
          text-align: center;
          padding: 20px;
          color: #ffffff; } }
      header .container .nav-menu .navlink.active {
        background-color: #394678;
        font-weight: 300; }
    header .container .burger-menu {
      width: 20px;
      height: 15px;
      position: relative;
      margin: 17px auto;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
      header .container .burger-menu span {
        display: block;
        position: absolute;
        height: 3px;
        width: 50%;
        background: #ffffff;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        header .container .burger-menu span:nth-child(even) {
          left: 50%;
          border-radius: 0 3px 3px 0; }
        header .container .burger-menu span:nth-child(odd) {
          left: 0;
          border-radius: 3px 0 0 3px; }
        header .container .burger-menu span:nth-child(1), header .container .burger-menu span:nth-child(2) {
          top: 0; }
        header .container .burger-menu span:nth-child(3), header .container .burger-menu span:nth-child(4) {
          top: 6px; }
        header .container .burger-menu span:nth-child(5), header .container .burger-menu span:nth-child(6) {
          top: 12.5px; }
    header .container.active span:nth-child(1), header .container.active span:nth-child(6) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    header .container.active span:nth-child(2), header .container.active span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    header .container.active span:nth-child(1) {
      left: 1.5px;
      top: 2.3px; }
    header .container.active span:nth-child(2) {
      left: calc(50% - 1.5px);
      top: 2.3px; }
    header .container.active span:nth-child(3) {
      left: -50%;
      opacity: 0; }
    header .container.active span:nth-child(4) {
      left: 100%;
      opacity: 0; }
    header .container.active span:nth-child(5) {
      left: 1.5px;
      top: 9.5px; }
    header .container.active span:nth-child(6) {
      left: calc(50% - 1.5px);
      top: 9.5px; }
    @media screen and (max-width: 767px) {
      header .container .mobile-menu.hidden {
        display: block; } }

/*# sourceMappingURL=style.css.map */
