// Media queries / Break points
$tablet: 'screen and (max-width: 767px)';
$largeMobile: 'screen and (max-width: 679px)';
$mobile: 'screen and (max-width: 479px)';

// Project colours
$grey: #b9b9b9;
$lightGrey: #ddd;
$white: #fff;

$black: #000;
$green: #9dc850;
$darkGreen: #219653;
$linkGreen: #146738;
$blue: #5bc1ee;
$darkBlue: #0d1949;
$lightBlue: #eef2fb;

$fontFamily: 'Hind',
sans-serif;
